# Ignore node_modules for the frontend
/frontend/node_modules/

# Ignore environment files for the frontend
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production

# Ignore node_modules for the backend
/backend/node_modules/

# Ignore environment files for the backend
/backend/.env
/backend/.env.local
/backend/.env.development
/backend/.env.production
backend/config/service-account.json


# Ignore system files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Temporary files
tmp/
dist/
